<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	
	<appSettings>
		<add key="mDebug" value="False"/>
		<add key="mUsername" value="FEIBtest"/>
		<add key="mPassword" value="feib1"/>
		<add key="mMultithread" value="False"/>
		<add key="mConflationIndicator" value="False"/>
		<add key="mNatFile" value=""/>
		<add key="mConflInterval" value="-1"/>
		<add key="mConflType" value="2"/>
		<add key="mReadTimeout" value="0"/>
		<add key="mStatsInterval" value="-1"/>
		<add key="mQueueSize" value="-1"/>
		<add key="mPrimaryConn1" value="216.221.213.14:7022"/>
		<add key="mPrimaryConn2" value="216.221.213.17:7033"/>
		<add key="mCompressedData" value="True"/>
		<add key="mFileName" value="request.txt"/>
		<add key="outFile" value="output.txt"/>

	</appSettings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<log4net>
		<logger name="ICELog">
			<level value="ALL" />
			<appender-ref ref="rollingFileService" />
		</logger>
		<appender name="rollingFileService" type="log4net.Appender.RollingFileAppender,log4net">
			<param name="File" type="" value="C:\\WebTradeLog\\ICE\\ICE.log" />
			<param name="AppendToFile" value="true" />
			<param name="Encoding" value="Unicode" />
			<appendToFile value="true" />
			<!--<param name="RollingStyle" value="Size" />-->
			<param name="RollingStyle" value="Size" />
			<param name="maximumFileSize" value="10MB" />
			<maxSizeRollBackups value="20" />
			<!--<param name="RollingStyle" value="composite" />
      <param name="maximumFileSize" value="10MB" />-->
			<datePattern value="yyyyMMdd" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger (%file:%line) - %message%newline" />
			</layout>
		</appender>
	</log4net>
</configuration>