<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="ActiveMQIP" value="10.48.167.52"/>
    <add key="MQPort" value="61616"/>
    <!-- QUEUE(佇列模式) or TOPIC(廣播模式) -->
    <add key="AgentType" value="TOPIC"/>
    <!-- Request QUEUE(Request端進來訊息)-->
    <add key="RequestQueueName" value="FTP.SwiftIn"/>
    <!-- Response QUEUE(Agent端回覆訊息)-->
    <add key="ResponseQueueName" value="FTP.SwiftOut"/>
    <!-- TOPIC名稱 -->
    <add key="TopicName" value="FTP.Swift"/>
    <!-- TOPIC 回應 -->
    <add key="TopicResponseQueueName" value="FTP.SwiftRep"/>
    <!-- 監聽使用者名稱 -->
    <add key="ListenerUser" value="Listener1"/>
    <!-- Summit Environment-->
    <add key="SummitEnvFile" value="D:\summit\client\FEIB_REF\etc\etkws_env.bat"/>
  </appSettings>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %logger{1} %username - %message%newline"/>       
      </layout>
      <mapping>
        <level value="WARN"/>
        <foreColor value="Yellow, HighIntensity"/>
      </mapping>
      <mapping>
        <level value="ERROR"/>
        <foreColor value="Red, HighIntensity"/>
      </mapping>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="D:/WebTradeLog/ActiveMQ/Agent.FTP.Swift.log"/>
      <rollingStyle value="Date"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %logger{1} - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
</configuration>
