@{
    ViewBag.Title = "About";
}


<h1> About the Site </h1>
<hr />

<h4>網站定位是一個小型的購物網站, 在這個網站中, 註冊用戶可以流覽商品, 購買商品, 收藏商品等. 並且能夠管理自己的購物車內的商品, 付款購買. </h4>
<h4>通過vue等框架, 實現動態刷新, 讓網頁無需刷新就能提交表單, 增加了流覽速度和增強了流覽體驗.</h4>
<h4>通過基於物品的協同過濾演算法, 説明使用者發現感興趣的商品, 能在海量的商品中找到一款自己喜歡的.</h4>
<h4>原始程式碼: https://github.com/yanghaku/TMall-asp.net</h4>
<h4>網站架構: <img src="~/Static/struct.png" style="height: 700px" alt="struct" /></h4>

<h1> About the Author </h1>
<hr />
<h3>github: <a href="https://github.com/yanghaku" target="_blank">https://github.com/yanghaku</a></h3>
<h3>blog: <a href="http://39.96.80.208/" target="_blank">http://39.96.80.208/</a></h3>
<h4><img src="https://avatars2.githubusercontent.com/u/36074633?s=400&u=7625156319c5ded1d79ec73a65e820d239cb705e&v=4" alt="picture" /></h4>

