<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="mDebug" value="True"/>
    <add key="mUsername" value="FEIBtest"/>
	<add key="mPassword" value="feib1"/>
	<add key="mMultithread" value="True"/>
	<add key="mConflationIndicator" value="False"/>
	<add key="mNatFile" value="Nat.txt"/>
	<add key="mConflInterval" value="1"/>
	<add key="mConflType" value="1"/>
	<add key="mReadTimeout" value="1"/>
	<add key="mStatsInterval" value="1"/>
	<add key="mQueueSize" value="1"/>
	<add key="mPrimaryConn1" value="216.221.213.14:7022"/>
	<add key="mPrimaryConn2" value="216.221.213.17:7033"/>
	<add key="mCompressedData" value="False"/>
	<add key="mFileName" value="request.txt"/>
	<add key="outFile" value="output.txt"/>
	  
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
